/* ----------banner---------- */

.banner_card h3{
    padding-bottom: 15px;
    font-size: 36px;
    color: #002E86;
}

.banner_txt{
    margin-bottom: 30px;
}

.banner_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_txt p{
    font-size: 16px;
    line-height: 25px;
}

.banner_info a{
    color: #fff;
}

.signUp_link{
    padding: 13px;
    font-size: 18px;
    position: relative;
}

.signUp_link::after{
    content: '';
    width: 10px;
    height: 10px;
    right: 13px;
    top: 19px;
    position: absolute;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    opacity: 0;
    transition: 0.3s;
}

.signUp_link:hover{
    padding-right:30px;
}

.signUp_link:hover.signUp_link::after{
    opacity: 1;
}