
/* ----------banner---------- */
.banner{
    position: relative;
}

.banner .pic{
    width: 75%;
    position: relative;
    right: 0px;
    margin-left: auto;
}

.banner .pic img{
    border-radius: 1% 0% 0% 0%;
}

.banner_card{
    max-width: 500px;
    padding: 3rem 40px;
    box-sizing: border-box;
    position: absolute;
    top:13%;
    left:13%;
    background-color: #fff;
    border: 7px solid #73A1F1;
    border-radius: 20px;
    box-shadow: 20px 30px 0px #D9E7FF;
}

.banner h2{
    font-size: 70px;
    padding-bottom: 15px;
}

.banner_txt{
    margin-bottom: 40px;
}

.banner_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_txt p{
    font-size: 16px;
    line-height: 25px;
}

.banner_info a{
    color: #fff;
}

.signUp_link{
    padding: 13px;
    font-size: 18px;
    position: relative;
}

.signUp_link::after{
    content: '';
    width: 10px;
    height: 10px;
    right: 13px;
    top: 19px;
    position: absolute;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    opacity: 0;
    transition: 0.3s;
}

.signUp_link:hover{
    padding-right:30px;
}

.signUp_link:hover.signUp_link::after{
    opacity: 1;
}

/* ----------topic---------- */

.topic_pic{
    margin-left: -30px;
}

.topic_pic img{
    border-radius: 0% 1% 1% 0%;
}

.topic_card_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.topic_card{
    width: 60%;
    padding: 50px 60px 30px 60px;
    box-sizing: border-box;
    background-color: #fff;
    border: 5px solid #73A1F1;
    border-radius: 12px;
    box-shadow: 23px 13px 0px #D9E7FF;
    position: relative;
}

.topic_card:first-child{
    bottom: 60px;
    left: -60px;
}

.topic_card:last-child{
    top: 10px;
    left: 10%;
}

.topic_card_content{
    display: flex;
    flex-direction: column;
}

.topic_card h3{
    font-size: 28px;
    padding-bottom: 20px;
}

.topic_card p{
    padding-bottom: 30px;
}

.topic_card a{
    align-self: flex-end;
    color: #fff;
}

.topic_card > span{
    display: inline-block;
    padding:20px 30px;
    position: absolute;
    top: -40px;
    left: -10%;
    font-size: 20px;
    font-weight: bold;
    color: #4D79B2;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #D9E7FF;
    background: #fff;
}

.topic_card > span::after{
    content: '';
    width: 0px;
    height: 0px;   
    display: block;
    position: absolute;
    top:65px;
    left:10px;
    border-top: 30px solid #fff;
    border-right: 30px solid transparent;
}

.topic_card > span::before{
    content: '';
    width: 0px;
    height: 0px;   
    display: block;
    position: absolute;
    top:68px;
    left:16px;
    border-top: 30px solid #D9E7FF;
    border-right: 30px solid transparent;
}

.test_link{
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
}

/* ----------papper---------- */
.papper{
    background-image: url(../pic/section_bg_top.svg), url(../pic/section_bg_left.svg), url(../pic/section_bg_right.svg);
    background-repeat: no-repeat;
    background-position: -50% -140%, -50% 60%, 210% 220%;
    background-size: 80% 80%, 55% 50%, 80% 80%;
}

.papper_link{
    margin-right: 30px;
    margin-left:auto;
    color: #8F7EF1;
}

.papper_link_btn,.contact_link_btn{
    display: block;
    padding: 10px 15px;
    margin-bottom: 30px;
    font-size: 18px;
    background-color: #fff;
    border: 2px solid #8F7EF1;
    color: #8F7EF1;
    border-radius: 10px;
    transition: 0.3s;
}

.papper_link_btn:hover,.contact_link_btn:hover{
    color:#fff;
    background-color: #8F7EF1;
    cursor: pointer;
}

/* ----------contact---------- */

.title+p{
    margin-left: 35px;
    font-size: 18px;
    padding-bottom: 50px;
    font-weight: bold;
}

form{
    margin-left: 35px;
    width: 500px;
}

form label{
    display: inline-block;
    padding-bottom: 5px;
    margin-right: 10px;
    color: #002E86;
    letter-spacing: 1px;
    font-weight: bold;
}

input{
    border: none;
    background-color:#fff;
    border: 1px solid #73A1F1;
    width: 300px;
    font-size: 16px;
    padding: 5px 3px;
    margin-bottom: 30px;
}

input:focus-visible{
    /* outline-offset: 0px; */
    outline: 1px solid #73A1F1;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #002E86;
    opacity: 0.5; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #002E86;
  }
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #002E86;
  }

textarea{
    min-width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size:14px;
    background-color: #fff;
    border: 1px solid #73A1F1;
    font-size: 14px;
    border-radius: 5px;
}


textarea:focus-visible{
    outline: 1px solid #73A1F1;
}

#contact_btn{
    padding: 5px 10px;
    float:right;
    font-weight: bold;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid #73A1F1;
    border-radius: 5px;
    color: #73A1F1;
}

#contact_btn:hover{
    color:#fff;
    background-color: #8F7EF1;
    border: 2px solid #8F7EF1;
    cursor: pointer;
}

/* ----------RWD---------- */
/* -----------大平板----------- */
@media screen and (max-width:1024px){
    .banner_card{
        top:13%;
        left:5%;
        padding: 40px 30px;
        border: 6px solid #73A1F1;
        box-shadow: 15px 20px 0px #D9E7FF;
    }

    .banner h2{
        font-size: 50px;
    }

    .topic_pic{
        margin: -15px;
        max-height: 520px;
        overflow: hidden;
    }

    .papper{
        background-position: -70% -400px, -50% 90%, 210% 250%;
        background-size: 100% 100%, 55% 70%, 80% 80%;
    }
}

/* -----------手機----------- */
@media screen and (max-width:768px){

    /* -----------banner----------- */

    main{
        background-image: url(../pic/nav_bg.svg), url(../pic/section_bg_left.svg);
        background-position: 150px -150px, -200px 100px;
        background-size: 80% 80%, 130% 130%;
    }


    .banner .pic{
        width: 100%;
    }

    .banner .pic img{
        border-radius: 0%;
    }

    .banner_card{
        position: relative;
        top: -50px;
        left:0;
        right: 0;
        margin: auto;
        width: 80%;
        padding: 20px;
        border: 4px solid #73A1F1;
        box-shadow: 7px 10px 0px #D9E7FF;
    }

    .banner h2{
        font-size: 36px;
        padding-bottom: 8px;
        text-align: center;
    }

    .banner_tags{
        text-align: center;
    }

    .banner_txt{
        display: none;
    }

    .banner_info{
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    .signUp_link{
        padding: 8px;
        font-size: 16px;
    }

    .signUp_link::after{
        top: 15px;
    }

    /* ----------topic---------- */
    .pink_bg .content_wrap{
        padding-top: 0px;
        margin-bottom: 20px;
    }

    .topic_card_wrap{
        padding-top: 20px;
        gap: 20px;
    }

    .topic_card{
        width: 90%;
        padding: 30px;
        padding-top: 45px;
        border: 3px solid #73A1F1;
        box-shadow: 7px 10px 0px #D9E7FF;
    }

    .topic_card:first-child,.topic_card:last-child{
        left: 10px;
    }

    .topic_card > span{  
        top: -45px;
        left: -35px;
        padding:20px 15px;
    }

    .topic_card > span::after{ 
        left:8px;
    }

    .topic_card > span::before{
        top:70px;
        left:13px;
    }

    /* ---------papper--------- */
    .papper{
        background-position: 0px 0px, -100px 81%, 150px 100%;
        background-size: contain, contain, contain;
    }

    .papper_link{
        margin: 10px auto 50px auto;
    }

    form{
        margin-left: 0px;
        width: 100%;
        padding: 10px 35px;
        box-sizing: border-box;
    }

    .title+p{
        margin-left: 50px;
    }

    textarea{
        height: 100px;
    }
    
    /* ---------demo bug---------- */
    /* .fix{
        right: 60px;
    } */
}