h2,.intro{
    text-align: center;
}

.content_wrap h2{
    padding-bottom: 50px;
    font-size: 36px;
}

.intro_wrap{
    margin-bottom: 90px;
}

.intro_row{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.intro_pic{
    width: 120px;
    margin: auto;
}

.intro_text > span{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #002E86;
    font-weight: bold;
}

.intro p{
    font-weight: bold;
    line-height: 25px;
}

.content_wrap h3{
    padding: 5px;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 24px;
}

#result{
    padding-left: 0px;
}

h3 + p{
    padding-left: 30px;
    font-weight: bold;
    line-height: 26px;
    padding-bottom: 40px;
    border-bottom: 1px solid #002E86;
}

/* ----------EP---------- */

.q_wrap{
    max-width: 900px;
    margin: 40px auto;
}

.question{
    margin: 10px auto;
    padding: 30px;
    border-bottom: 1px solid #002E86;
}

.question h4{
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.ans{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.ans input{
    display: none;
}

.question label{
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    color: #002E86;
    transition: 0.2s;
}

.question label:hover{
    cursor: pointer;
    color: #002E86;
}

.question label:hover.add0,[id*="add0"]:checked + .add0{
    background-color: #DAE8FF;
}
.question label:hover.add1,[id*="add1"]:checked + .add1{
    background-color: #d0daff;
}
.question label:hover.add2,[id*="add2"]:checked + .add2{
    background-color: #DED2FF;
}
.question label:hover.add3,[id*="add3"]:checked + .add3{
    background-color: #fed1ff;
}

input.sub{
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    border: 0;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
}

/* ----------result---------- */
.result_wrap{
    margin:auto;
    padding: 120px 0px;
    border-bottom: 1px solid #002E86;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pic{
    position: relative;
    top: -80px;
    left: 80px;
}

.result_card{
    padding: 40px 100px;
    box-sizing: border-box;
    position: relative;
    top: 70px;
    left: -20px;
    background-color: #fff;
    border: 5px solid #73A1F1;
    border-radius: 20px;
    box-shadow: 10px 17px 0px #D9E7FF;
    text-align-last: left;
}

.result_card h2{
    font-size: 30px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.result_card h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.result_txt{
    margin-bottom: 0px;
}

.result_txt p{
    font-size: 20px;
    line-height: 25px;
}

.content_wrap:nth-child(2){
    padding-top: 0px;
}

.further{
    margin:auto;
    border-bottom: 1px solid #002E86;
    text-align: center;
    line-height: 30px;
}

.row{
    align-items: center;
}

.further [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    flex-grow: 1;
}

.further h2{
    padding-top: 15px;
    margin-bottom: 0px;
    vertical-align: bottom;
    font-size: 24px;
}

.further p{
    padding-top: 15px;
}

.range{
    background-color:#fff;
    /* #DAE8FF */
}

.more_wrap{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
}

.q_card{
    width: 30%;
    padding: 40px 30px 20px;
    margin:0px auto 100px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    background-color: #fff;
    border: 3px solid #73A1F1;
    border-radius: 12px;
    box-shadow: 23px 13px 0px #D9E7FF;
}

.q_card::after{
    content: ' ';
    width: 150px;
    height: 114px;
    position: absolute;
    top: 100%;
    right: -60px;
    background-image: url(../pic/topic_br.svg);
    background-repeat: no-repeat;
    background-size:50% 50%;
}

.q_card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.q_card p{
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}

.q_card a{
    align-self: flex-end;
}

.q_card > span{
    display: inline-block;
    padding:20px 30px;
    position: absolute;
    top: -30%;
    left: -10%;
    font-size: 20px;
    font-weight: bold;
    color: #4D79B2;
    border: 3px solid #D9E7FF;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #D9E7FF;
    background: #fff;
}

.q_card:last-child > span{
    top: -30%;
    left: -20%;
}

.q_card > span::after{
    content: '';
    width: 0px;
    height: 0px;   
    display: block;
    position: absolute;
    top:65px;
    left:10px;
    border-top: 30px solid #fff;
    border-right: 30px solid transparent;
}

.q_card > span::before{
    content: '';
    width: 0px;
    height: 0px;   
    display: block;
    position: absolute;
    top:68px;
    left:8px;
    border-top: 35px solid #D9E7FF;
    border-right: 35px solid transparent;
}

.q_card:last-child > span::after{
    top:91px;
}

.q_card:last-child > span::before{
    top:95px;
}

.q_link{
    padding: 10px 15px;
    font-size: 18px;
}

/* ----------桌機用的---------- */
@media screen and (min-width:768px){
    .intro_row{
        max-width: 900px;
    }

    /* ----------result--------- */
    .pic{
        max-width: 300px;
        z-index: 1;
    }

    .pic img{
        border-radius: 50%;
    }

    .result_card{
        max-width: 800px;
    }
}

/* ----------手機用---------- */
@media screen and (max-width:768px){
    .content_wrap h2{
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 28px;
    }

    .intro_row{
        width: 80%;
        flex-direction: column;
        gap: 30px;
    }

    .intro{
        flex-direction: row;
        align-items: center;
    }

    .intro_pic{
        width: 20%;
    }

    .intro_text{
        flex-grow: 1;
    }

    .intro p{
        font-weight: bold;
        line-height: 20px;
        font-size: 14px;
    }

    .content_wrap h3{
        padding-left: 10px;
        padding-right: 10px;
    }

    h3 + p{
        padding-left: 10px;
        padding-right: 10px;
    }

    .question{
        padding: 30px 10px;
    }

    .ans{
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 5px;
        font-size: 18px;
    }

    input.sub{
        padding: 7px 15px;
        font-size: 16px;
    }

    /* ----------result---------- */
    .result_wrap{
        padding: 0px 0px;
        padding-bottom: -50px;
        flex-direction: column;
        gap: 0px;
    }

    .pic{
        width: 100%;
        max-height: 380px;
        overflow: hidden;
        top: 0px;
        left: 0px;
    }

    .result_card{
        width: 90%;
        padding: 20px 30px 30px 30px;
        top: -100px;
        left: 0px;
        border: 3px solid #73A1F1;
        box-shadow: 5px 12px 0px #D9E7FF;
    }

    .further h2 {
        font-size: 24px;
    }

    .result_card h3{
        margin-bottom: 15px;
        padding: 0px;
        font-size: 20px;
    }

    .result_txt p{
        font-size: 16px;
    }

    .more_wrap{
        flex-direction: column;
    }

    .q_card{
        width: 80%;
    }

    .q_card > span{
        top: -20%;
        left: -10%;
    }

    .q_card:last-child > span{
        left: -8%;
    }
}