.btn{
    padding: 13px;
    position: relative;
    color: #fff;
    font-size: 20px;
}

.btn:hover{
    cursor: pointer;
}

/* ----------banner---------- */
.banner{
    padding-top: 30px;
    position: relative;
}

.banner .pic{
    width: 100%;
    position: relative;
}

.banner .pic::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(250,241,248,0.5),rgba(250,241,248,1));
    position: absolute;
}

.banner_card{
    width: 37.5%;
    padding: 70px 60px 50px 65px;
    box-sizing: border-box;
    position: absolute;
    top:25%;
    right:5%;
    background-color: #fff;
    border: 7px solid #73A1F1;
    border-radius: 20px;
    box-shadow: 20px 30px 0px #D9E7FF;
}

.banner h2{
    font-size: 38px;
    padding-bottom: 20px;
}

.banner_txt{
    margin-bottom: 40px;
}
.banner_info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info_txt p{
    font-size: 16px;
    line-height: 25px;
}

.banner_link{
    color: #8F7EF1;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: bold;
    padding-right: 20px;
}

.banner_link:hover{
    cursor: pointer;
}

.banner_link::before,.banner_link::after{
    content: '';
    width: 10px;
    height: 10px;
    right: calc(50% - 85px);
    top: 1px;
    position: absolute;
    border-right: 3px solid #8F7EF1;
    border-bottom: 3px solid #8F7EF1;
    transform: rotate(45deg);

    -webkit-animation-name: bounce_arrow; 
    -moz-animation-name: bounce_arrow; 
    -o-animation-name: bounce_arrow; 
    animation-name: bounce_arrow;

    animation-iteration-count: infinite; 
    -moz-animation-iteration-count: infinite; 
    -webkit-animation-iteration-count: infinite; 

    animation-fill-mode:both; 
    -webkit-animation-duration:1.5s; 
    -moz-animation-duration:1.5s; 
    -ms-animation-duration:1.5s; 
    -o-animation-duration:1.5s; 
    animation-duration:1.5s; 
}

.banner_link::after{
    top: 11px;
}

@-webkit-keyframes bounce_arrow { 
    0%, 20%, 50%, 80%, 100%
        {-webkit-transform: translateY(0) rotate(45deg);} 
    40% {-webkit-transform: translateY(-10px) rotate(45deg);} 
    60% {-webkit-transform: translateY(-5px) rotate(45deg);} 
} 

@-moz-keyframes bounce_arrow { 
    0%, 20%, 50%, 80%, 100%
        {-moz-transform: translateY(0) rotate(45deg);} 
    40% {-webkit-transform: translateY(-10px) rotate(45deg);} 
    60% {-webkit-transform: translateY(-5px) rotate(45deg);} 
} 

/* ----------topic---------- */

.content_wrap{
    padding: 30px 15px;
}

.row{
    justify-content: space-between;
}

[class*="col-"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic_img{
    overflow: hidden;
}

.topic_img img{
    width: 100%;
}

.topic_card{
    position: relative;
    width: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    margin: auto;
    padding: 50px 60px 30px 60px;
    box-sizing: border-box;
    border-radius: 40px;
    background-color: #fff;
    border: 4px solid #73A1F1;
    box-shadow: 15px 20px 0px #D9E7FF;
}

.topic_card_content{
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
}

.topic_card h2{
    font-size: 28px;
    padding-bottom: 25px;
}

.topic_card p{
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.3px;
}

.topic_card a{
    align-self: center;
}

.test_link{
    display: inline-block;
    margin: 20px auto;
    align-self: center;
}

.test_links{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.test_links .test_link{
    margin: 10px auto;
    padding: 8px 15px;
    font-size: 18px;
}

/* ----------question---------- */

.question{
    margin: 50px auto 80px auto;
}

.q_card_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.q_card{
    width: 60%;
    padding: 40px 28px 30px 50px;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    border: 3px solid #73A1F1;
    border-radius: 12px;
    box-shadow: 23px 13px 0px #D9E7FF;
}

.q_card::after{
    content: ' ';
    width: 150px;
    height: 114px;
    position: absolute;
    bottom: -112px;
    right: 10px;
    background-image: url(../pic/topic_br.svg);
    background-repeat: no-repeat;
    background-size:100% 70%;
}

.q_card_content{
    display: flex;
    flex-direction: column;
}

.q_card p{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
}

.q_card a{
    align-self: flex-end;
}

.q_card > span{
    display: inline-block;
    padding:20px 30px;
    position: absolute;
    top: -20%;
    left: -10%;
    font-size: 20px;
    font-weight: bold;
    color: #4D79B2;
    border: 3px solid #D9E7FF;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #D9E7FF;
    background: #fff;
}

.q_card:last-child > span{
    top: -25%;
    left: -20%;
}

.q_card > span::after{
    content: '';
    width: 0px;
    height: 0px;   
    display: block;
    position: absolute;
    top:65px;
    left:10px;
    border-top: 30px solid #fff;
    border-right: 30px solid transparent;
}

.q_card > span::before{
    content: '';
    width: 0px;
    height: 0px;   
    display: block;
    position: absolute;
    top:68px;
    left:8px;
    border-top: 35px solid #D9E7FF;
    border-right: 35px solid transparent;
}

.q_card:last-child > span::after{
    top:91px;
}

.q_card:last-child > span::before{
    top:95px;
}

.q_link{
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
}

.q_card:first-child .q_link{
    margin-right: 20px;
}

/* ----------RWD---------- */
/* ----------桌機用---------- */
@media screen and (min-width:992px){
    .banner_card{
        min-width: 450px;
    }

    .topic_img{
        margin: auto 15px auto -15px;
    }

    .topic_img img{
        border-radius: 10px;
    }

    .topic_card::before{
        content: ' ';
        width: 150px;
        height: 114px;
        position: absolute;
        top: calc(50% - 57px);
        right: -138px;
        background-image: url(../pic/topic_l.svg);
        background-repeat: no-repeat;
        background-size:100% 100%;
    }

    .sub_section:nth-child(odd){
        background-color: #fff;
    }

    .sub_section:nth-child(odd) .topic_img{
        margin: auto -15px auto 15px;
    }

    .sub_section:nth-child(odd) .test_bubble{
        order:1;
    }

    .sub_section:nth-child(odd) .topic_card::before{
        left: -138px;
        background-image: url(../pic/topic_r.svg);
    }

    /* ----------qusstion---------- */
    .q_pic{
        margin-left: -15px;
    }

    .q_pic img{
        border-radius: 0% 1% 1% 0%;
    }

    .q_card:first-child{
        top: -50px;
        left: -150px;
    }

    .q_card:last-child{
        width: 60%;
        top:150px;
        left: 10%;
    }
}


/* -----------大平板----------- */
@media screen and (max-width:1250px){
    .banner_card{
        padding: 40px 30px;
    }
}

@media screen and (max-width:1024px){
    /* ---------banner---------- */
    .banner{
        background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(250,241,248,0.5),rgba(250,241,248,1));
    }

    .banner_card{
        padding: 40px 30px;
        border: 6px solid #73A1F1;
        box-shadow: 15px 20px 0px #D9E7FF;
    }

    .banner_link::before,.banner_link::after{
        right: right: calc(50% - 70px);
    }

    /* ---------topic---------- */

    .test_bubble + [class*="col-"]{
        padding: 0px 0px 15px;
    }

    /* ----------question---------- */
    .question .title{
        position: relative;
        margin-left: 0;
        margin-bottom: 50px;
        font-size: 25px;
    }
}

@media screen and (max-width:992px){
    .banner_card{
        width: 40%;
        top:20%;
        padding: 30px 20px 20px;
        box-shadow: 5px 10px 0px #D9E7FF;
    }

    .banner h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    
    .banner_link{
        font-size: 19px;
        padding-right: 20px;
    }
    
    .sub_section#EP{
        padding: 0px;
    }

    .content_wrap{
        padding: 0px 0px;
    }

    .topic_card{
        padding: 50px 30px 30px 30px;
    }

    .topic_card::before{
        display: none;
    }

    .sub_section [class*="col"]:first-child{
        order: 1;
    }

    .topic_img{
        max-height: 500px;
    }

    .test_links{
        width: 100%;
    }

    /* ----------question---------- */
    .question [class*="col-"]{
        padding-left: 0;
        padding-right: 0;
    }

    .q_card_wrap{
        gap: 150px;
    }
}

/* -----------手機----------- */
@media screen and (max-width:768px){
    /* -----------banner----------- */
    .banner_card{
        width: 90%;
        position: relative;
        top: -50px;
        left:0;
        right: 0;
        margin: auto;
        padding: 30px;
        border: 4px solid #73A1F1;
        box-shadow: 7px 10px 0px #D9E7FF;
    }

    .banner h2{
        font-size: 28px;
        text-align: center;
    }
        
    .banner_txt{
        margin-bottom: 20px;
    }

    .info_txt p{
        font-size: 14px;
        line-height: 20px;
    }

    /* ---------topic---------- */
    .topic_card{
        padding: 30px 0px 10px;
        border: 3px solid #73A1F1;
    }

    .topic_card h2{
        padding-bottom: 20px;
    }

    .topic_card p{
        padding-bottom: 10px;
    }
    
    /* ---------question---------- */
    .q_card{
        width: 80%;
        padding: 40px 20px 30px 30px;
    }

    .q_card:first-child{
        top: 40px;
    }

    .q_card:last-child > span{
        font-size: 16px;
    }

    .q_card:last-child > span{
        top: -18%;
        left: -8%;
    }

    .q_card:last-child > span::after{
        top:80px;
    }

    .q_card:last-child > span::before{
        top:85px;
    }

    .q_card p{
        font-size: 14px;
        font-weight: 600;
    }
}